.navbar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100vw;
    height: 50px;

    background: lightgray;
}

.links {
    margin-left: auto;
}

.link {
    margin-left: 15px;
    text-decoration: none;
}


.link:hover {
    text-decoration: underline;
}